/* Variables */
:root {
  --background-color: #f5f5f4;
  --text-color: #333;
  --window-border-radius: 6px;
  --font-size: 14px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#countdown-number {
  position: absolute;
  font-size: 25vw;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preferences {
  position: absolute;
  bottom: 0;
  padding: 2vw 5vw;
  box-shadow: 0px -5px 20px 0px rgba(161,161,161,0.5);
  background-color: inherit;
  width: 100%;
}

.control {
  font-size: 15vw;
}

.hidden {
  display: none;
}

.countdown {
  flex-direction: column;
  position: relative;

  :first-child {
      margin-bottom: 20px;
  }
}

.progress {
  transform: rotate(-90deg);
}

.progress-meter,
.progress-value {
  fill: none;
}

.progress-meter {
  stroke: #e6e6e6;
}

.progress-value {
  stroke: #ff9b9b;
  stroke-linecap: round;
  transition-property: stroke-dashoffset;
  transition-timing-function: linear;
}


/* The arrow at the top of the window */
.header-arrow {
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: -5px;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  background-color: #e8e6e8;
}

.window {
  position: absolute;
  top: 5px;
}

.toolbar {
  box-shadow: none;
}

.window, .toolbar-header {
  border-top-left-radius: var(--window-border-radius);
  border-top-right-radius: var(--window-border-radius);
}

.window-content {
  background-color: var(--background-color);
}

.column {
  width: 50%;
  float: left;
  margin: auto;
  margin-top: 16px;
  text-align: center;
}

.summary {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 16px;
  font-size: var(--font-size);
  font-weight: 300;
  color: var(--text-color);
}

.reading {
  font-size: calc(var(--font-size) + 6px);
  font-weight: 300;
  color: var(--text-color);
}

.description {
  text-transform: uppercase;
  color: #666;
  font-size: calc(var(--font-size) - 3px);
  font-weight: 300;
}

.footer-link {
  padding-top: 8px;
  padding-left: 10px;
  font-size: calc(var(--font-size) - 4px);
  float: left;
}

.footer-link a {
  color: var(--text-color);
}
